
//== Colors
@import "hnm/pluscolor";

.bg-gray-base { background-color : $gray-base; }
.bg-gray-darkist { background-color : $gray-darkist; }
.bg-gray-darker { background-color : $gray-darker; }
.bg-gray-dark { background-color : $gray-dark; }
.bg-gray-primary { background-color : $gray-primary; }
.bg-gray { background-color : $gray; }
.bg-gray-mid { background-color : $gray-mid; }
.bg-gray-light { background-color : $gray-light; }
.bg-gray-lighter { background-color : $gray-lighter; }
.bg-white { background-color : $white; }

.bg-brand { background-color : $brand; }
.bg-brand-darkist { background-color : $brand-darkist; }
.bg-brand-darker { background-color : $brand-darker; }
.bg-brand-dark { background-color : $brand-dark; }
.bg-brand-primary { background-color : $brand-primary; }
.bg-brand-base { background-color : $brand-base; }
.bg-brand-mid { background-color : $brand-mid; }
.bg-brand-light { background-color : $brand-light; }
.bg-brand-lighter { background-color : $brand-lighter; }
.bg-brand-lightest { background-color : $brand-lightest; }

.bg-reverse { background-color : $reverse; }
.bg-reverse-darkist { background-color : $reverse-darkist; }
.bg-reverse-darker { background-color : $reverse-darker; }
.bg-reverse-dark { background-color : $reverse-dark; }
.bg-reverse-primary { background-color : $reverse-primary; }
.bg-reverse-base { background-color : $reverse-base; }
.bg-reverse-mid { background-color : $reverse-mid; }
.bg-reverse-light { background-color : $reverse-light; }
.bg-reverse-lighter { background-color : $reverse-lighter; }
.bg-reverse-lightest { background-color : $reverse-lightest; }

.bg-accennt { background-color : $accennt; }
.bg-accennt-darkist { background-color : $accennt-darkist; }
.bg-accennt-darker { background-color : $accennt-darker; }
.bg-accennt-dark { background-color : $accennt-dark; }
.bg-accennt-primary { background-color : $accennt-primary; }
.bg-accennt-base { background-color : $accennt-base; }
.bg-accennt-mid { background-color : $accennt-mid; }
.bg-accennt-light { background-color : $accennt-light; }
.bg-accennt-lighter { background-color : $accennt-lighter; }
.bg-accennt-lightest { background-color : $accennt-lightest; }
