$link-transition: 0.5s;

$gray-base: #000000 !default;
$gray-darkist: #404040 !default;
$gray-darker: #545454 !default;
$gray-dark: #666666 !default;
$gray-primary: gray !default;
$gray: #949494 !default;
$gray-mid: #b3b3b3 !default;
$gray-light: #d9d9d9 !default;
$gray-lighter: #f2f2f2 !default;
$white: #ffffff !default;

$brand: #576d87 !default;
$brand-darkist: #2c3744 !default;
$brand-darker: #364454 !default;
$brand-dark: #415265 !default;
$brand-primary: #4c5f76 !default;
$brand-base: #576d87 !default;
$brand-mid: #7a90a9 !default;
$brand-light: #a4b3c5 !default;
$brand-lighter: #cfd6e0 !default;
$brand-lightest: #f9fafb !default;

$reverse: #2076bf !default;
$reverse-darkist: #103b60 !default;
$reverse-darker: #144a77 !default;
$reverse-dark: #18598f !default;
$reverse-primary: #1c67a7 !default;
$reverse-base: #2076bf !default;
$reverse-mid: #4498e0 !default;
$reverse-light: #80b9ea !default;
$reverse-lighter: #bbdaf4 !default;
$reverse-lightest: #f6fafe !default;

$accennt: #F5CA2F !default;
$accennt-darkist: #8b6f07 !default;
$accennt-darker: #ae8a08 !default;
$accennt-dark: #d1a60a !default;
$accennt-primary: #f3c10c !default;
$accennt-base: #F5CA2F !default;
$accennt-mid: #f7d761 !default;
$accennt-light: #fae392 !default;
$accennt-lighter: #fcf0c4 !default;
$accennt-lightest: #fffdf5 !default;