
$foreign_crimson:		#c91f37;
$red_orange:			#dc3023;
$cochineal_red:		#9d2933;
$monza:				#cf000f;
$brewed_mustard:		#e68364;
$pomegranate:			#f22613;
$scarlet:				#cf3a24;
$pure_crimson:		#c3272b;
$true_red:				#8f1d21;
$chestnut_rose:		#d24d57;
$one_kin_dye:			#f08f907;
$peach:				#f47983;
$red_plum:				#db5a6b;
$medium_crimson:		#c93756;
$cherry_blossom:		#fcc9b9;
$washed_crimson:		#ffb3a7;
$radical_red:			#f62459;
$ibis_wing:				#f58f84;
$wisteria_purple:		#875f9a;
$bellflower:			#5d3f6a;
$gray_wisteria:			#89729e;
$iris:					#763568;
$tatarian_aster:		#8d608c;
$thin:					#a87ca0;
$dark_violet:			#5b3256;
$medium_purple:		#bf55ec;
$studio:				#8e44ad;
$wisteria:				#9b59b6;
$light_wisteria:			#be90d4;
$sky:					#4d8fac;
$ultramarine:			#5d8cae;
$picton_blue:			#22a7f0;
$dodger_blue:			#19b5fe;
$picton:				#59abe3;
$light_blue:				#48929b;
$thousand_herb:		#317589;
$jordy_blue:			#89c4f4;
$steel_blue:			#4b77be;
$lapis_lazuli:			#1f4788;
$navy_blue:			#003171;
$hanada:				#044f67;
$green_indigo:			#264348;
$siskin_sprout:			#7a942e;
$green_onion:			#8db255;
$fresh_onion:			#5b8930;
$young_bamboo:		#6b9362;
$patina:				#407a52;
$bamboo:				#006442;
$gossip:				#87d37c;
$eucalyptus:			#26a65b;
$jungle:				#26c281;
$observatory:			#049372;
$jungle_green:			#2abb9b;
$mountain_meadow:	#16a085;
$trquoise:				#36d7b7;
$green_aquamarine:	#03a678;
$ocean_green:			#4daf7c;
$patrinia_flowers:		#d9b611;
$amur_cork_tree:		#f3c13a;
$ripe_lemon:			#f7ca18;
$triandra_grass:		#e2b13c;
$rapeseed_oil:			#a17917;
$cream_can:			#f5d76e;
$saffron:				#f4d03f;
$bright_golden_yellow:	#ffa400;
$sumac_dyed:			#e08a1e;
$gamboge:				#ffb61e;
$corn:					#faa945;
$egg:					#ffa631;
$floral_leaf:			#ffb94e;
$golden_fallen_leaves:	#e29c45;
$ecstasy:				#f9690e;
$amber:				#ca6924;
$lightning_yellow:		#f5ab35;
$silver_gray:			#bfbfbf;
$cararra:				#f2f1ef;
$silver_sand:			#bdc3c7;
$porcelain:				#ecf0f1;
$pumice:				#d2d7d3;
$harbor_rat:			#757d75;
$gallery:				#eeeeee;
$edward:				#abb7b7;
$lynch:					#6c7a89;
$cascade:				#95a5a6;

$excolores: (
	foreign_crimson:$foreign_crimson,
	red_orange:$red_orange,
	cochineal_red:$cochineal_red,
	monza:$monza,
	brewed_mustard:$brewed_mustard,
	pomegranate:$pomegranate,
	scarlet:$scarlet,
	pure_crimson:$pure_crimson,
	true_red:$true_red,
	chestnut_rose:$chestnut_rose,
	one_kin_dye:$one_kin_dye,
	peach:$peach,
	red_plum:$red_plum,
	medium_crimson:$medium_crimson,
	cherry_blossom:$cherry_blossom,
	washed_crimson:$washed_crimson,
	radical_red:$radical_red,
	ibis_wing:$ibis_wing,
	wisteria_purple:$wisteria_purple,
	bellflower:$bellflower,
	gray_wisteria:$gray_wisteria,
	iris:$iris,
	tatarian_aster:$tatarian_aster,
	thin:$thin,
	dark_violet:$dark_violet,
	medium_purple:$medium_purple,
	studio:$studio,
	wisteria:$wisteria,
	light_wisteria:$light_wisteria,
	sky:$sky,
	ultramarine:$ultramarine,
	picton_blue:$picton_blue,
	dodger_blue:$dodger_blue,
	picton:$picton,
	light_blue:$light_blue,
	thousand_herb:$thousand_herb,
	jordy_blue:$jordy_blue,
	steel_blue:$steel_blue,
	lapis_lazuli:$lapis_lazuli,
	navy_blue:$navy_blue,
	hanada:$hanada,
	green_indigo:$green_indigo,
	siskin_sprout:$siskin_sprout,
	green_onion:$green_onion,
	fresh_onion:$fresh_onion,
	young_bamboo:$young_bamboo,
	patina:$patina,
	bamboo:$bamboo,
	gossip:$gossip,
	eucalyptus:$eucalyptus,
	jungle:$jungle,
	observatory:$observatory,
	jungle_green:$jungle_green,
	mountain_meadow:$mountain_meadow,
	trquoise:$trquoise,
	green_aquamarine:$green_aquamarine,
	ocean_green:$ocean_green,
	patrinia_flowers:$patrinia_flowers,
	amur_cork_tree:$amur_cork_tree,
	ripe_lemon:$ripe_lemon,
	triandra_grass:$triandra_grass,
	rapeseed_oil:$rapeseed_oil,
	cream_can:$cream_can,
	saffron:$saffron,
	bright_golden_yellow:$bright_golden_yellow,
	sumac_dyed:$sumac_dyed,
	gamboge:$gamboge,
	corn:$corn,
	egg:$egg,
	floral_leaf:$floral_leaf,
	golden_fallen_leaves:$golden_fallen_leaves,
	ecstasy:$ecstasy,
	amber:$amber,
	lightning_yellow:$lightning_yellow,
	silver_gray:$silver_gray,
	cararra:$cararra,
	silver_sand:$silver_sand,
	porcelain:$porcelain,
	pumice:$pumice,
	harbor_rat:$harbor_rat,
	gallery:$gallery,
	edward:$edward,
	lynch:$lynch,
	cascade:$cascade
);
