$gray-base: #000000 !default;
$gray-darkist: #232323 !default;
$gray-darker: #2f2f2f !default;
$gray-dark: #414141 !default;
$gray-primary: #565656 !default;
$gray: #6f6f6f !default;
$gray-mid: #959595 !default;
$gray-light: #d0d0d0 !default;
$gray-lighter: #fbfbfb !default;
$white: #ffffff !default;
$brand-darkist: #252e39 !default;
$brand-darker: #33404f !default;
$brand-dark: #3f4f62 !default;
$brand-primary: #47596e !default;
$brand-base: #576d87 !default;
$brand-mid: #758ca6 !default;
$brand-light: #9dadc0 !default;
$brand-lighter: #dbe1e8 !default;
$reverse-darkist: #114067 !default;
$reverse-darker: #154d7d !default;
$reverse-dark: #185b93 !default;
$reverse-primary: #2076bf !default;
$reverse-base: #3490dd !default;
$reverse-mid: #75b4e8 !default;
$reverse-light: #b7d8f3 !default;
$reverse-lighter: #e3effa !default;
